@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  font-family: "Monsieur La Doulaise";
  font-family: "Noto Serif";
  font-family: "Roboto", sans-serif;
  font-family: "Quicksand";
  font-weight: 500;
  --color-primary: #646cff;
  font-size: 1rem;
}
